@(message: String)

@partials.template("") {
<div class="uk-width-1-10"></div>
<div class="left uk-width-4-10">
        <form class="uk-form" style="margin-top:30px;">
            <fieldset data-uk-margin>
                <legend>Start a new game</legend>
                <input type="text" placeholder="Your name">
                <button class="uk-button">Go!</button>
            </fieldset>
        </form>
</div>
<div class="right uk-width-4-10">
    <form class="uk-form" style="margin-top:30px;">
        <fieldset data-uk-margin>
            <legend>Join an existing game</legend>
        </fieldset>
    </form>
    <table class="uk-table">
        <caption>There are <span id="open_games">2</span> open games.</caption>
        <thead>
            <tr>
                <th>X</th>
                <th>O</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jeff</td>
                <td><small>waiting</small></td>
                <td><a href="/game">Join Game!</a></td>
            </tr>
            <tr>
                <td>Bob</td>
                <td><small>waiting</small></td>
                <td><a href="/game">Join Game!</a></td>
            </tr>
        </tbody>
    </table>
</div></div>
<div class="uk-width-1-10"></div>

<script type="text/javascript">
  tictactoe.RoomClient().start();
</script>
}