activator
activator.bat
activator-launch-1.1.3.jar
activator-sbt-echo-akka-shim.sbt
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
