@(message: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title>Tac Tac Toe</title>

    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/foundation.min.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")' />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/jquery.json-2.3.js")'></script>
    <script src='@routes.Assets.at("javascripts/tictactoe.js")'></script>
    <script src='@routes.Assets.at("javascripts/modernizr.js")'></script>

</head>

<body>

<div class="row">
    <div class="small-12 columns">
        <h1 style="text-align:center">ReacTacToe</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 small-centered columns tictactoe">
        <div id="grid_1" class="cell">&nbsp;</div>
        <div id="grid_2" class="cell">&nbsp;</div>
        <div id="grid_3" class="cell">&nbsp;</div>
        <div id="grid_4" class="cell">&nbsp;</div>
        <div id="grid_5" class="cell">&nbsp;</div>
        <div id="grid_6" class="cell">&nbsp;</div>
        <div id="grid_7" class="cell">&nbsp;</div>
        <div id="grid_8" class="cell">&nbsp;</div>
        <div id="grid_9" class="cell">&nbsp;</div>
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="callout panel">
            <p id="status" style="text-align:center">&nbsp;</p>
        </div>
    </div>
</div>

<script src='@routes.Assets.at("javascripts/foundation.min.js")'></script>
<script>
      $(document).foundation();
</script>

</body>
</html>

